<%= render 'shared/doctor_nav' %>

<% if current_doctor.availabilities.present? %>
  <table class='table'>
    <thead>
      <th>id</th>
      <th>start_time</th>
      <th>end_time</th>
    </thead>
    <% current_doctor.availabilities.each do |availaibility| %>
      <tbody>
        <tr><%= availaibility.id %></tr>
        <tr><%= availaibility.start_date %></tr>
        <tr><%= availaibility.end_date %></tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  No Availaibility Set Yet
<% end %>